@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCapeReview";
    var ScheduleId = ViewBag.ScheduleId;

}

<h3 class="page-header">Add Cape Review For</h3>
<a href="#" onclick="window.history.back()"><< back</a>
<div id="divStudentEnrollments">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Course</th>
                <th>Instructor Rating</th>
                <th>Course Rating</th>
                <th>Summary</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tr>
                <td>@ViewBag.coursename</td>
                <td> 
                    <select class="form-control" data-bind="value: irating">
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </td>
              
                <td>
                    <select class="form-control" data-bind="value: crating">
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </td>
                <td> <input class="form-control" type="text" data-bind="value: reason" /> </td>
             
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                    to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'cape-template', data: $data}"></div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/html" id="cape-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <input class="btn btn-primary" value="Submit" type="button" data-bind="value: 'Submit', click: $data.add" />
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var capereviewViewModelObj = new CapeReviewViewModel();
        capereviewViewModelObj.Initialize("@ViewBag.ScheduleId", "@ViewBag.inst", "@ViewBag.coursename", "@ViewBag.courseid");
    });
</script>

